@use "./partials/variables" as *;
@import "@fontsource/inter";
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Inter", sans-serif;
    background-color: black;

    &::-webkit-scrollbar {
        width: 10px;

        &-thumb {
            background-color: $scrollbar-color;
            border-radius: 20px;
        }
    }
}

img {
    max-width: 100%;
}